@font-face {
  font-family: 'Roboto';
  src:
  url('../fonts/futura/Roboto-Regular.woff') format('woff'),
  url('../fonts/futura/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src:
  url('../fonts/futura/RobotoCondensed-Regular.woff') format('woff'),
  url('../fonts/futura/RobotoCondensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}