@font-face {
  font-family: 'Nokia Sans S60';
  src: 
  url('../fonts/nokia/NokiaSansS60.woff2') format('woff2'),
  url('../fonts/nokia/NokiaSansS60.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

