.form
  text-align: center
  margin-top: rem
  &__input
    width: 16.7rem
    height: 2.98rem
    border: none
    margin-bottom: 0.4rem
    border-radius: 4px
    padding-left: 1rem
    color: #2f2f2f
    outline: none
    &--name
      background-image: url('../img/name.svg')
      background-position: 14.45rem 0.6rem
      background-repeat: no-repeat
    &--email
      background-image: url('../img/email.svg')
      background-position: 14.45rem 0.6rem
      background-repeat: no-repeat
    &--tel
      background-image: url('../img/tel.svg')
      background-position: 14.45rem 0.6rem
      background-repeat: no-repeat
  &__button
    display: block
    width: 16.7rem
    padding: 1.48rem 2rem
    margin: auto
    margin-top: 0.55rem
    border: none
    outline: none
    border-radius: 4px
    background: linear-gradient(to top, #03c9a9 0%, #13efcb 100%)
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09)
    color: $light
    font-family: 'Roboto', sans-serif
    font-size: 1.2rem
    font-weight: bold
    line-height: 0.9rem
    text-transform: uppercase
    box-shadow: 0px 5px 15px rgba($dark, 0.2)
    transition: background 0.4s
    transition: box-shadow 0.2s
    &:hover 
      background: linear-gradient(to top, #02937b 0%, #0dae93 100%)
      box-shadow: none
  &__text
    color: $light
    font-size: 0.8rem
    font-weight: 300
    line-height: 0.73rem
    max-width: 18rem
    text-align: center
    margin: auto
    margin-top: 0.8rem 
    display: flex
    &::before, &::after
      content: ''
      color: $light
      width: 2.8rem
      height: 1.6rem
      background-color: $light
      mask-image: url('../img/safe.svg')
      margin: 0 0.6rem
      padding-bottom: 0.6rem
// div
//   &.invalid
//     color: $dark
//     // position: absolute
//     // margin-top: 3.8rem
input
  &.invalid
    border: 1px solid $dark
#hero-form-name-error
  margin-top: -1.3rem
  color: $primary
  font-size: 0.8rem
  margin-bottom: 0.4rem
#hero-form-email-error
  margin-top: -1.3rem
  color: $primary
  font-size: 0.8rem
  margin-bottom: 0.4rem
#hero-form-phone-error
  margin-top: -1.3rem
  color: $primary
  font-size: 0.8rem
  margin-bottom: 0.4rem
#offer-form-name-error
  display: inline
  margin-top: -0.9rem
  color: $primary
  font-size: 0.8rem
#offer-form-email-error
  display: inline
  margin-top: -0.9rem
  color: $primary
  font-size: 0.8rem
#offer-form-phone-error
  display: inline
  margin-top: -0.9rem
  color: $primary
  font-size: 0.8rem
#modal-user-name-error
  margin-top: -1.3rem
  color: $primary
  font-size: 0.8rem
  margin-bottom: 0.4rem
#modal-user-phone-error
  margin-top: -1.3rem
  color: $primary
  font-size: 0.8rem
  margin-bottom: 0.4rem

  