*, *:before, *:after
  box-sizing: border-box
html
  font-size: 15px
body
  font-family: 'Roboto', sans-serif
  font-size: 1rem
main
  margin: auto
  padding-top: 5.3rem
button
  outline: none
  &:hover
    cursor: pointer
img
  max-width: 100%
.section
  padding: 0
  margin: 0
  &__title
    color: #1b1b1b
    font-family: "Roboto Condensed"
    font-size: 2.1rem
    font-weight: 400
    line-height: 2rem
    text-transform: uppercase
    text-align: center
    padding-top: 3rem
    margin-top: 0
    margin-bottom: 0.8rem
    display: flex
    flex-direction: column
    align-items: center
    &::after
      content: ''
      background: url('../img/title-pic.svg') no-repeat center / cover
      width: 2.6rem
      height: 1.3rem
      margin-top: 0.4rem
    &--light
      font-size: 2.1rem
      color: $light
      padding-top: 3.4rem
  
@media screen and ( max-width: 1659px )
  html
    font-size: 14px

// @media screen and ( max-width: 1439px )


@media screen and ( max-width: 1199px )
  html
    font-size: 13px

@media screen and ( max-width: 767px )
  html
    font-size: 12px
  .section
    &__title
      &--light
        font-size: 1.9rem


