.advantage
  height: 38rem
  &__background
    position: absolute
    max-width: 90%
    height: 36rem
    padding-left: 15.2rem
    padding-top: 0.3rem
    &--first

    &--second
      margin-left: 27rem
      margin-right: -5rem
      margin-bottom: 5.2rem
  &__content
    margin-top: 1.4rem
    display: flex
    justify-content: flex-end
  &__video
    position: relative
    // background: $dark ('../img/video-mask.jpg') no-repeat center / cover
    width: 39.2rem
    height: 25.4rem