.footer
  width: 100%
  height: auto
  background-color: #363636
  &__map
    width: 1920px
    max-width: 100%
    height: 563px
    &--mobile
      display: none
  &__menu
    width: 100%
    height: 10.8rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    &__text
      width: 35rem
      color: #fefefe
      font-size: 1rem
      font-weight: 300
      line-height: 1.5rem
      text-align: center
      margin: 0
      padding-bottom: 0.9rem
    &__social
      cursor: pointer
      padding-top: 1rem
      padding-bottom: 2rem

@media screen and ( max-width: 767px )
  .footer
    &__map
      height: 255px
      &--desktop
        display: none
      &--mobile
        display: block