.header
  background: #faeabc url('../img/bg-header.jpg') no-repeat center / cover
  width: 100%
  height: 5.3rem
  top: 0
  left: 0
  right: 0
  position: fixed
  z-index: 199
.brand
  max-width: 25rem
  display: flex
  justify-content: flex-start
  &__logo
    display: flex
    justify-content: center
    position: relative
    left: 3.66rem
    &:before
      content: ''
      width: 0
      height: 0
      border-width: 98px 60px 14px
      border-style: solid
      border-color: $light $light transparent
      position: absolute
    &:after
      content: ''
      width: 0
      height: 0
      border-width: 93px 54px 11px
      border-style: solid
      border-color: $primary $primary transparent
      position: absolute
    &__image
      width: 80px
      height: 80px
      margin: 8px 15px 16px
      background-color: $light
      mask-image: url('../img/logo.svg')
      position: relative
  &__title
    text-decoration: none
    margin-left: 1.7rem
    margin-top: 1.7rem
    &--primary
      font-family: 'Neo Sans Pro Medium', sans-serif
      font-size: 1.68rem
      font-weight: bold
      line-height: 1.4rem
      color: $dark
      text-transform: uppercase
      padding: 0
      cursor: pointer
      &:hover
        color: $primary
    &--secondary
      color: $primary
      font-size: 0.72rem
      font-weight: 300
      line-height: 0.8rem
      margin-top: 0
      cursor: pointer
      &:hover
        color: $dark
.contacts
  max-width: 12rem
  display: flex
  flex-direction: column
  align-items: flex-end
  &__phone
    text-decoration: none
    color: $dark
    font-size: 1.05rem
    margin-top: 0.9rem
    &--primary
      font-size: 1.6rem
      padding-left: 0.2rem
    &:hover
      font-weight: bold
  &__block
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 0.35rem
  &__call
    width: 1rem
    height: 1rem
    background-color: $primary
    mask-image: url('../img/call.svg')
    margin-right: 0.3rem
  &__arrow
    width: 1.2rem
    height: 0.33rem
    background-color: $primary
    mask-image: url('../img/arrow.svg')
    margin-right: 0.3rem
  &__button
    padding: 0
    color: $primary
    background-color: transparent
    border: none
    border-bottom: 2px dotted $primary
    font-size: 0.9rem
    font-weight: 300
    outline: none
    display: flex
    justify-content: space-between
    &:hover
      border: 1px solid $primary
      border-radius: 4px
      padding: 0.1rem 0.2rem
      box-shadow: 0px 2px 4px rgba($dark, 0.3)
.menu
  width: 1000px
  max-width: 90%
  margin: auto
  position: relative
  display: flex
  justify-content: space-between

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .brand
    &__logo
      &:before, &:after
        display: none
      &__image
        mask-image: none
        background: $light url('../img/logo2.png') no-repeat center / cover
        width: 109px
        height: 106px
        margin: 0


@media screen and ( max-width: 1199px )
  .brand
    &__logo
      left: 4.1rem


@media screen and ( max-width: 991px )
  .header
    background-image: none
  .contacts
    &__phone
      margin-top: 1.7rem
    &__block
      margin-top: 0.9rem
    &__call
      display: none
    &__arrow
      display: none
    &__button
      color: #fdf1cf
      background-color: $primary 
      border: 4px solid #fff9e6
      padding: 0.3rem 0.4rem
      &:hover
        display: none

@media screen and ( max-width: 576px )
  .brand
    &__logo
      left: 4.1rem

@media screen and ( max-width: 575px )
  .brand
    &__logo
      display: none
      &__image
        display: none
        // background: none
    &__title
      margin-left: 0

@media screen and ( max-width: 374px )
  .brand
    &__title
      margin-top: 2rem
      &--primary
        font-size: 1.6rem
      &--secondary
        display: none
  .contacts
    &__phone
      margin-top: 2rem
      font-size: 1.2rem
      &--primary
        font-size: 1.2rem
        padding-left: 0