.photo
  background-color: $beige
  width: 100%
  height: 33.86rem
  &__background
    position: absolute
    width: 100%
    height: 530px
    display: flex
    justify-content: center
    align-items: flex-end
    &--first
      &-desktop
        padding-right: 9rem
      &-mobile
        display: none
    &--second
      padding-right: 45rem
  &__content
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 0.3rem
    margin-left: 0.2rem
  &__text
    max-width: 24.5rem
    font-size: 1.2rem
    font-weight: 300
    line-height: 1.6rem
    margin-right: 1rem
.swiper
  &-container
    width: 566px
    height: 334px
    margin: 0
  &-wrapper
    position: absolute
    display: flex
    align-items: flex-end
  &-slide
    background-color: $beige
  &-nav
    bottom: 50%
    display: flex
    justify-content: center
    // background-color: rgba($dark, 0.3)
    // border-radius: 4px
    width: auto
    // height: 25px
  &-pagination
    // z-index: 99
    bottom: 20px
    // top: auto
    // width: 50px
    // height: 10px
    // margin-top: -35px
    &-bullet
      background-color: $light
      border-radius: 0
      width: 8px
      height: 8px
      margin: 7px 4px
      opacity: 1
      &-active
        background-color: $primary
  &-button
    &-prev, &-next
      bottom: 29px
      top: auto
      background-size: 30px
      width: 7px
      height: 13px
      color: $light
      &::after
        display: none
    &-prev
      left: 233px
      mask-image: url(../img/arrow-prev.svg)
      background: $light
    &-next 
      right: 233px
      mask-image: url(../img/arrow-next.svg)
      background: $light
      
@media screen and ( max-width: 1659px )
  .photo
    &__background
      &--first
        &-desktop
          display: none
        &-mobile
          display: block
          padding-right: 5rem
      &--second
        padding-right: 35rem

@media screen and ( max-width: 1249px )
  .photo
    &__background
      &--first
        &-mobile
          display: none
      &--second
        padding-right: 0

@media screen and ( max-width: 1199px )
  .photo
    &__background
      &--second
          display: none
    &__content
      margin-left: 0
    &__text
      margin-left: 2rem
      margin-right: 0

@media screen and ( max-width: 991px )
  .photo
    height: 650px
    &__content
      flex-direction: column-reverse
    &__text
      margin-left: 0
      max-width: 566px
  .swiper
    &-container
      max-width: 100%

    &-slide
      // height: auto
    &-button
      &-prev, &-next
        mask-image: none
        background: none
        &::after
          display: block
      &-prev
        left: 15px
        bottom: 50%
      &-next
        right: 15px
        bottom: 50%

@media screen and ( max-width: 575px )
  .swiper
    &-container
      height: 26rem
      
@media screen and ( max-width: 475px )
  .swiper
    &-container
      height: 22rem

@media screen and ( max-width: 425px )
  .swiper
    &-container
      height: 20rem

@media screen and ( max-width: 375px )
  .swiper
    &-container
      height: 18rem

@media screen and ( max-width: 320px )
  .swiper
    &-container
      height: 16rem